;; This is an -*- lfe -*- config file.

#(project
  [#(meta
     [#(name lmug-elli)
      #(description "An lmug adaptor for the Elli web server.")
      #(version     "0.3.1")
      #(keywords    ["LFE" "Lisp" "Library" "HTTP" "lmug" "Ring" "WSGI" "Web"])
      #(maintainers [[#(name "Eric Bailey") #(email "eric@ericb.me")]])
      #(repos       [#(github "lfe-mug/lmug-elli")])])])

#(logging
  [#(log-level debug)
   #(colored   true)
   #(colors    [#(timestamp (color green))
                #(process   (color cyan))
                #(date      (color green))
                #(time      (color green))
                #(modfunc   (color yellow))
                #(message   (color green))
                #(debug     (color greenb))
                #(info      (color blue))
                #(notice    (color cyan))
                #(warning   (color yellow))
                #(error     (color red))
                #(critical  (color yellowb))
                #(alert     (color magentab))
                #(emergency (color redb))])
   #(backend   lager)
   #(options
     [#(lager_console_backend
        [debug
         #(logjam-formatter
           [date " " time " [" pid "] [" severity "] " message "\n"])])])])
