{deps, [
  {elli, "1.0.5"},
  {lmug,
   {git, "git://github.com/lfe-mug/lmug.git",
    {tag, "0.0.3"}}}
]}.

{plugins, [
  {'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.3.0"}}}
 ]}.

{project_plugins, [
  {lodox,
   {git, "git://github.com/quasiquoting/lodox.git",
    {tag, "0.12.11"}}}
]}.

{provider_hooks, [
  {pre,  [{compile, {lfe, compile}}]}
  %% , {post, [{compile, {lfe, lodox}}]}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["test"]}]},
    {deps, [
      {ltest,
       {git, "git://github.com/lfex/ltest",
        {branch, "master"}}}
    ]}
  ]}
]}.

{overrides, [
  {override, exemplar, [
    {deps, [
      {ltest,
       {git, "git://github.com/lfex/ltest.git",
        {branch, "master"}}}
    ]}
  ]}
]}.

{lodox, [
  {apps, [
    {elli_lmug, [
      {'source-uri',
       "https://github.com/lfe-mug/elli_lmug"
       "/blob/{version}/{filepath}#L{line}"}
    ]}
  ]}
]}.
